<% include header %>


<div class="container">
        <h1>New Graph</h1>

        <p>You will create a new graph with the given name and comment on it.
            <br> By default there will be no vertices and edges with it.
            <br> Just an empty graph.
        </p>

    <form class="form-horizontal" method="POST" action="/graphs/new">
        <div class="form-group">
            <label class="control-label col-sm-2">Name:</label>
            <div class="col-sm-10">
                <input name="graphname" type="text" class="form-control" placeholder="Enter the name of the graph">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Description:</label>
            <div class="col-sm-10">
                <input name="graphcomment" type="text" class="form-control" placeholder="Write a comment!">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-sm btn-success">Create</button>
            </div>
        </div>
    </form>
    <button class="btn btn-sm btn-warning" onclick="goBack()">Go Back</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
<% include footer %>