<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Graph Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.css.map" rel="stylesheet">
    <!-- For popup modul -->
    <link rel="stylesheet" type="text/css" media="screen" href="popupwindow.css" />

</head>

<body>